header 
{
	height: 25px;
	border: solid 1px #5e5e5e;
}
header div
{
	font-size: 15px;
	float: left;
}
header form
{
	float: right;
	margin-top:4px;
}
footer div
{
	float: left;
	border-right: solid 1px #5e5e5e;
}
.title
{
	font-size: 35px;
}
.subtitle 
{
	font-size: 25px; 
}
.item-list
{

}
.item-row
{
	width: 100%;
}
.item-column
{
	border: solid 1px white;
	float: left;
	width: 30%;
	padding: 10px;
	background-color: #cccccc;
	margin: auto;
}
.item-top
{	
	width: 350px;
	height: 300px;
	padding-left: 10px;
	background-color: white;
	margin: auto;
}
.item-bottom
{
	height: 100px;
	background-color: yellow;
	margin-top: 10px;
}
footer div
{
	font-size: 20px;
}
.secondquestion
{
	float: left;
}