ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input
{ margin: 0; padding: 0; }
a img,:link img,:visited img { border: none; }

a
{
  text-decoration: none;
}

a:hover, a:visited, a:active
{
  color: inherit;
}

body, td
{
  margin: 0;
  padding: 0;
  font-family: Arial, Verdana, sans-serif;
  font-size: 11px;
  background-color: #fff;
}

.color-box
{
	width: 3em;
	height: 3em;
}

.select-color .radio-inline input[type="radio"]
{
	margin-top: 1.3em;
}

.select-font .radio-inline input[type="radio"]
{
	margin-top: 0.7em;
}


.radio-inline
{
	margin-right: 10px;
}

.font-radio
{
	font-size: 25px;
}

.source
{
  margin: 30px 0;
  padding: 30px;
  background-color: #f8f8f8;
}

.contents-wrapper
{
  margin: 40px;
}